* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

main {
  background: #E7EDEF;
}

img {
  height: 150px !important;
  width: 150px;
}

.container-card {
  position: relative;
  margin: 30px 40px;
}

.container-card .card {
  position: relative;
  width: 320px;
  height: 450px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff0f0;
}

.container-card .card .content-bx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 1;
  display: none;
}

.container-card .card .content-bx a {
  height: 30px;
  width: 70px;
  background-color: #F36F63;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700s;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 5px;
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: purple;
  -webkit-clip-path: circle(150px at 80% 20%);
          clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

#salsa:after {
  content: "T-Shirt Slim Fit";
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 25px;
  font-weight: 600;
  color: black;
}

.card .img-bx {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.card .img-bx img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 250px;
}

.card:hover:before {
  -webkit-clip-path: circle(300px at 80% -20%);
          clip-path: circle(300px at 80% -20%);
}

.card:hover:after {
  display: none;
}

.card:hover .img-bx {
  top: 5%;
  transform: translateY(0%);
}

.card:hover .content-bx {
  height: 180px;
  display: block;
  transition: 0.5s;
}

